:root{
  --blue: #003049;
  --red: #2f1212;
  --orange: #F77F00;
  --yellow: #FCBF49;
  --tan: #EAE2B7;
  --white: #F5F5F5;
  --green: #43CC47;
}


body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: var(--blue);
  display: flex;
  justify-content: center;
  
}

h1 {
  text-align: center;
}

section.hero{
  background-color: var(--white);
  min-width: 25rem;
  min-height: 10rem;
  margin-top: 20%;

}

form.form {
  width: 100%;
  margin-top: 2rem;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.form-control {
  width: 20rem;
  margin-bottom: 1rem;
  margin-left: auto;
  
}

.textContainer{
  width: 100%;
 
}
textarea{
  width: 100%;
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
}

.text-input{
  width: 100%;
  resize: vertical;
  min-height: 5rem;
}

.btn-container {
  background-color: var(--tan);
  width: 100%;
  display: flex;
  justify-content: center;

}

.clearAll{
  margin-top: .25rem;
  margin-bottom: 0;

}



/* Text Element */


.text {
 
  margin-top: 5rem;  
}

.indivdualItem {
  background-color: var(--green);
  margin-bottom: 1rem;
  max-width: 25rem;
  border-radius: 10px;
  padding: 1rem;
  display: flex;
}

.blog-container{
  height: 100%;
  width: 100% ;
}

.blogText{
  height: 80%;
  word-break: break-all;
  padding: 1rem;
}

.authorconatiner{
  display: flex;
  padding: 1rem;
  justify-content: space-between;
}

.fake-btn{
  width: 3rem;
  padding: .5rem;
  border-radius: 10px;
  -webkit-user-select: none
}

.fake-btn:active{
  transform: scale(.97);
}

.delete-btn{
  background: red;
}
.edit-btn{
  background-color: var(--orange);
}
